.DS_Store

*.sln
*.userprefs
*.pidb
*.booproj
*.csproj
*.unityproj

Build/
Temp/

Unity/Library/AnnotationManager
Unity/Library/assetDatabase3
Unity/Library/AssetImportState
Unity/Library/AssetServerCacheV3
Unity/Library/AssetVersioning.db
Unity/Library/BuildPlayer.prefs
Unity/Library/BuildSettings.prefs
Unity/Library/cache
Unity/Library/EditorUserBuildSettings.asset
Unity/Library/EditorUserSettings.asset
Unity/Library/expandedItems
Unity/Library/FailedAssetImports.txt
Unity/Library/guidmapper
Unity/Library/InspectorExpandedItems.asset
Unity/Library/metadata
Unity/Library/MonoManager.asset
Unity/Library/previews
Unity/Library/ScriptAssemblies
Unity/Library/ScriptMapper
